* {
    margin: 0px;
    padding: 0px;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
}
header {
    display: flex;
    width: 95%;
    height: 10vh;
    margin: auto;
    align-items: center;
}

.logo-container, .nav-links, .login {
    display: flex;
    align-items: center;
}

.logo-container {
    flex: 1;
}
.logo {
    font-weight: 400;
    margin: 5px;
}
nav {
    flex: 2;
}
.nav-links {
    justify-content: space-around;
    list-style: none;
}
.nav-link {
    color: #5f5f79;
    font-size: 18px;
    text-decoration: none;
    transition: .2s;
}
.nav-link:hover {
   color: lightgreen;
   border-bottom: 1px solid lightgreen;
}
.login {
    flex: 1;
    justify-content: flex-end;
}

section {
    display: flex;
    width: 70%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}
section:not(:first-child) {
    margin-top: 5%;
    margin-bottom: 5%;
}
.introduction {
    flex: 1;
}
.introduction:nth-child(2) {
    margin-left: 50px;
}
.intro-text h1{
    font-size: 44px;
    font-weight: 500;
    /* Gradient text */
    background: linear-gradient(to right, #494969, rgb(130, 130, 160));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.intro-text p {
    margin-top: 0px;
    font-size: 22px;
    color: #585772;
}
.intro-text span {
    height: 24px;
    border-right: 1px solid black;
    padding-right: 1px;
}
.cover {
    flex: 1;
}
.cover img {
    height: 60vh;
    filter: drop-shadow(0 5px 3px black);
    animation: drop 1.5s ease;
}

.background-image {
    position: absolute;
    top: -15%;
    left: -5%;
    z-index: -1;
    height: 150%;
    width: auto;
    opacity: .05;
    transform: rotate(160deg);
    overflow-x: none;
}

@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* responsive design moet nog beter worden gemaakt */
@media screen and (max-width: 1250px) {
    .cover img {
        height: 40vh;
    }
}

@media screen and (max-width: 1024px) {
    section {
        flex-direction: column;
        margin-top: -10%;
    }
    .introduction {
        flex: 1;
        margin-top: 5vh;
        text-align: center;
    }
    .introduction:first-child {
        justify-content: flex-end;
    }
    .introduction:nth-child(2) {
        margin: 0;
        justify-content: flex-start;
    }
    .cover:first-child {
        justify-content: flex-end;
    }
    .cover:nth-child(2) {
        justify-content: flex-start;
    }
    .cover, .introduction {
        display: flex;
        flex-direction: column;
    }
    .cover {
        flex: 1;
    }
    .cover img {
        width: 100%;
        height: auto;
    }
    .background-image {
        overflow-x: hidden;
    }
}



/* Everything for the loader */
.loader {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.loader h1 {
    font-size: 44px;
    font-weight: 500;
    /* Gradient text */
    background: linear-gradient(to right, #9393ff 20%, #6464f1 40%, #6464f1 60%, #9393ff 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 1s linear infinite;
    background-size: 200% auto;
}
.loader p {
    color: #585772;
}
@keyframes shine {
    to {
      background-position: 200% center;
    }
}



#text div {
    border-left: 1px solid black;
    height: 24px;
    float: left;
}

